---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import PhotographyPreview from '../components/PhotographyPreview.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';

const photography = [
		{title : "Flower", img_alt : "Flower", img_src : "/assets/fleur.jpg"},
		{title : "Ocean, Spain", img_alt : "Ocean, Spain", img_src : "/assets/ocean.PNG"},
		{title : "Boats, Balearic Islands, Spain", img_alt : "Boats", img_src : "/assets/bateaux.PNG"},
		{title : "Colorful Houses", img_alt : "Colorful Houses", img_src : "/assets/maisons.PNG"},
		{title : "Beautifying plants", img_alt : "Beautifying plants", img_src : "/assets/garden.PNG"},
		{title : "Boat light", img_alt : "Boat light", img_src : "/assets/bateau-nuit.PNG"},
		{title : "Chappelle", img_alt : "Chappelle", img_src : "/assets/chappelle.PNG"},
		{title : "Caves", img_alt : "Caves", img_src : "/assets/grottes.PNG"},
		{title : "Head in the clouds", img_alt : "Head in the clouds", img_src : "/assets/nuages.PNG"},
		{title : "Because I love plants", img_alt : "Because I love plants", img_src : "/assets/plantes.jpg"},
		{title : "Azores, Portugal", img_alt : "Azores, Portugal", img_src : "/assets/acores.jpg"},
		{title : "Cyberdog, ViVaTech", img_alt : "Cyberdog, ViVaTech", img_src : "/assets/cyberdog.jpg"},
		{title : "Calm and serenity", img_alt : "Calm and serenity", img_src : "/assets/campagne.PNG"},
		{title : "Les Gets, France", img_alt : "Les Gets, France", img_src : "/assets/neige.jpg"},
		{title : "Wildflower", img_alt : "Wildflower", img_src : "/assets/flowers.jpg"},
		{title : "New horizons", img_alt : "New horizons", img_src : "/assets/town-palma.jpg"},
		{title : "Palms, Spain", img_alt : "Palms, Spain", img_src : "/assets/palms.jpg"},
	]
---

<BaseLayout
	title="Photography"
	description="Photography"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Photography"
				tagline="Because our eyes can't remember everything"
				align="start"
			/>
			<Grid variant="offset">
				{
					photography.map((photo) => (
						<li>
							<PhotographyPreview title={photo.title} img_alt={photo.img_alt} img_src={photo.img_src} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
